<!DOCTYPE html>
<html>
<head>
	<title>Improved My Subscriptions feed for YouTube</title>
</head>
<body>
	<h1>Improved My Subscriptions feed for YouTube</h1>
	<p>This reimplements newsubscriptionsvideos for Youtube API V3 and adds a YouTube Player to the My Subscriptions feed. This is awesome for us using feedreaders.</p>
	<form name="input" method="post">
		YouTube channelid: <input type="text" name="channelid">
		<input type="submit" value="Submit">
	</form>
</body>
</html>
